In [44]:
# first import the packages
from selenium import webdriver
import time
import pandas as pd
import os

In [45]:
#packages
from selenium.webdriver.support.select import Select
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC

In [46]:
#write the url
url1='https://www.linkedin.com/jobs/search?keywords=Marketing%20Data%20Analyst&location=Berlin%2C%20Berlin%2C%20Germany&geoId=106967730&trk=public_jobs_jobs-search-bar_search-submit&position=1&pageNum=0'

In [47]:
# Load the web driver and get the url
driver=webdriver.Chrome("chromedriver.exe")
driver.get(url1)

C:\Users\user\AppData\Local\Temp\ipykernel_5720\3681588685.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome("chromedriver.exe")

In [ ]:
#Find number of job listings
y=driver.find_elements(By.CLASS_NAME,'results-context-header__job-count')[0].text

In [69]:
n=pd.to_numeric(y)

In [50]:
#Loop to scroll through all jobs 
i = 2
while i <= int((n+200)/25)+1: 
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    i = i + 1
    
    try:
        send=driver.find_element(By.XPATH, "//button[@aria-label='Load more results']")
        driver.execute_script("arguments[0].click();", send)   
        time.sleep(3)

    except:
        pass
        time.sleep(5)

In [51]:
#Create empty lists
companyname= []
titlename= []

In [52]:
#Find company name and append it to the blank list

try:
    for i in range(n):
        company=driver.find_elements(By.CLASS_NAME,'base-search-card__subtitle')[i].text
        companyname.append(company)
        
            
    

        
    

    
    
except IndexError:
    print("no")

no

In [53]:
#Find title name and append it to the blank list

try:
    for i in range(n):
        
        
        title=driver.find_elements(By.CLASS_NAME,'base-search-card__title')[i].text
    

        titlename.append(title)
        
            


    
    
except IndexError:
    print("no")

no

In [71]:
#Create dataframe for company name and title
companyfinal=pd.DataFrame(companyname,columns=["company"])
titlefinal=pd.DataFrame(titlename,columns=["title"])

In [55]:
#Join the two lists
x=companyfinal.join(titlefinal)

In [56]:
x

                   company                                              title
0                    Zizoo                     Marketing Data Analyst (m/f/x)
1                  ecoligo               Data Analyst - B2C Marketing (f/m/x)
2    COMO - We are hiring!                     Marketing Data Analyst (m/w/x)
3         A. Lange & Söhne                     Marketing Data Analyst (m/w/d)
4                gocomo.io  Marketing Data Analyst - Performance Marketing...
..                     ...                                                ...
257             Promedis24  Früh-, Elementar- oder Kindheitspädagoge B.A. ...
258            fitbox GmbH  Duales Studium B.A. Gesundheitsmanagement / Fi...
259             Promedis24  Früh-, Elementar- oder Kindheitspädagogin B.A....
260                  Agoda  Senior Manager, Marketing Strategy (Bangkok Ba...
261          Delivery Hero             Intern, Brand Researcher (all genders)

[262 rows x 2 columns]

In [66]:
#Save file in your directory

x.to_csv('linkedin.csv')

In [ ]:
driver.close() #Close the driver